
// styles.scss

// Variables de colores
$color-principal: #EE12C4;
$color-hover: #1f0C42;
$color-texto: #ffffff;
$color-fondo: linear-gradient(
  150deg,
  rgba(204, 66, 225, 1) 0%,
  rgba(77, 34, 150, 1) 16%,
  rgba(65, 32, 137, 1) 33%,
  rgba(47, 23, 99, 1) 50%,
  rgba(31, 13, 65, 1) 65%,
  rgba(31, 12, 66, 1) 100%
);

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background: $color-fondo;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
  min-height: 100vh;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;

  label {
    cursor: pointer;
    display: none;
  }

  .navbar {
    ul {
      display: flex;
      align-items: center;

      li {
        padding: 0 20px;
        font-size: 20px;

        a {
          color: $color-texto;

          &:hover {
            color: $color-principal;
          }
        }
      }
    }
  }
}

.logo {
  color: $color-principal;
  font-size: 25px;
  text-transform: uppercase;
}

#menu {
  display: none;
}

.menu-icono {
  width: 25px;
}

.header-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-top: 150px;
  gap: 2rem;
  padding: 0 2rem;
}

.header-txt {
  padding-right: 40px;

  h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 100px;
    line-height: 1;
    color: $color-texto;
    margin-bottom: 15px;
  }

  p {
    font-size: 20px;
    color: #c1c1c1;
    margin-bottom: 50px;
  }
}

.btn {
  display: inline-block;
  padding: 13px 30px;
  background: linear-gradient(90deg, rgba(244, 77, 243, 1) 0%, rgba(225, 0, 182, 1) 100%);
  color: $color-texto;
  font-size: 18px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.header-img {
  text-align: center;
}

@media (max-width: 991px) {
  .menu {
    padding: 20px;
    position: relative;

    label {
      display: initial;
    }

    .navbar {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: $color-principal;
      display: none;

      ul {
        flex-direction: column;
        padding: 0 20px;

        li {
          width: 100%;
          padding: 20px 0;

          a:hover {
            color: $color-hover;
          }
        }
      }
    }
  }

  #menu:checked ~ .navbar {
    display: initial;
  }

  .header-content {
    padding: 30px;
    margin-top: 0;
    flex-direction: column;
    text-align: center;
  }

  .header-txt {
    padding: 0 0 40px 0;
  }

  .header-img img {
    width: 300px;
  }
}
